$colors: (
    primary-400: #7c6ef6,
    grey-50: #ebeef5,
    grey-200: #a8aebf,
    grey-400: #767e94,
    grey-600: #475069,
    grey-800: #20283e,
    grey-900-80: rgba(18, 24, 41, 0.8),
    grey-900-98: rgba(18, 24, 41, 0.98),
    black-10: rgba(0, 0, 0, 0.1),
    black-20: rgba(0, 0, 0, 0.2),
    black-30: rgba(0, 0, 0, 0.3),
    black-75: rgba(0, 0, 0, 0.75),
    warning-500: #ffad49
);
