@import "sizes";
.layout {
    padding: 0 120px;

    &-content {
        margin-top: 160px;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (max-width: map-get($breakpoints, lg)) {
        padding-left: 80px;
        padding-right: 80px;
    }
}
