<div class="card-wrapper">
  <div class="card-content">
    <div class="card-icon">
      <i class="favorite-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M7 3C4.239 3 2 5.216 2 7.95C2 10.157 2.875 15.395 11.488 20.69C11.6423 20.7839 11.8194 20.8335 12 20.8335C12.1806 20.8335 12.3577 20.7839 12.512 20.69C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3C14.239 3 12 6 12 6C12 6 9.761 3 7 3Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </i>
    </div>
    <div class="card-image">
      <img
        [ngSrc]="data?.image"
        alt="Ted Lasso"
        width="300"
        height="318"
        [priority]="data.id <= 3"
      />
    </div>
    <div class="card-info">
      <span class="card-info__title">{{ data?.name }}</span>
      <span class="card-info__state">{{ data?.status }}</span>
    </div>
  </div>
</div>
