<div class="content-wrapper">
  <app-header-template>
    <app-search-filter
      search-filter
      [formControl]="nameField"
      [searchInputMessages]="searchInputMessages"
    />

    <ng-container filter-groups>
      <app-filter-group
        filter="status"
        [optionList]="dependencyItems.status"
        [formControl]="getFormControl('status')"
      />
      <app-filter-group
        filter="species"
        [optionList]="dependencyItems.species"
        [formControl]="getFormControl('species')"
      />

      <app-filter-group
        filter="gender"
        [optionList]="dependencyItems.gender"
        [formControl]="getFormControl('gender')"
      />

      <button class="button-filter--clear" (click)="clearFilter()">
        {{ "app.buttons.cleanFilter" | translate }}
      </button>

      <button
        class="button-filter--clear button-filter--favorite"
        (click)="showFavorites()"
        aria-label="Favorites"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="#c02121"
          stroke="#c02121"
        >
          <path
            d="M7 3C4.239 3 2 5.216 2 7.95C2 10.157 2.875 15.395 11.488 20.69C11.6423 20.7839 11.8194 20.8335 12 20.8335C12.1806 20.8335 12.3577 20.7839 12.512 20.69C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3C14.239 3 12 6 12 6C12 6 9.761 3 7 3Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </ng-container>
  </app-header-template>

  <main class="main-content">
    <ul
      class="content-list"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [alwaysCallback]="true"
      (scrolled)="onScroll()"
    >
      <ng-container *ngIf="firstLoading">
        <ngx-skeleton-loader
          count="6"
          appearance="circle"
          animation="pulse"
          [theme]="{
            width: '300px',
            aspectRatio: '16/17',
            height: 'auto',
            borderRadius: '0.75rem'
          }"
        ></ngx-skeleton-loader>
      </ng-container>

      <li *ngFor="let item of items" class="list-item">
        <app-card-preview
          [data]="item"
          (click)="showDetail(item)"
          (onFavoriteEvent)="onFavorite($event)"
          [isFavorite]="isFavorite(item.id)"
        />
      </li>

      <ng-container *ngIf="loading">
        <ngx-skeleton-loader
          count="6"
          appearance="circle"
          animation="pulse"
          [theme]="{
            width: '300px',
            aspectRatio: '16/17',
            height: 'auto',
            borderRadius: '0.75rem'
          }"
        ></ngx-skeleton-loader>
      </ng-container>
    </ul>

    <button
      class="button-back"
      aria-label="Go up button"
      *ngIf="showBackButton"
      (click)="scrollUp()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34px"
        height="34px"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
        />
      </svg>
    </button>
  </main>
</div>
